# IntelliJ IDEA IDE
.idea

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Files that contain credentials or personal info
.boto
.aws/

# Sublime text
*sublime-workspace

# Visual Studio Code
.vscode
